@model IEnumerable<eAMS.Models.Models.PropMaint>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info" onclick="AddNewAction()">Add New Action</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Property Code</th>
                <th>Action Done</th>
                <th>Date Done</th>
                <th>Reality Cost</th>
            </tr>
        </thead>
        <tbody id="">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Action)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PropRegi.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="AlterModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="AlterModal-Title"></h4>
                </div>
                <div class="modal-body">
                    <form id="form" class="col-sm-offset-3">
                        <fieldset id="SubmitForm">
                            <input name="ID" id="ActionID" type="text" hidden />
                            <div class="form-group">
                                <label for="Code">Property Code:</label>
                                <input name="Code" id="PropCode" type="text" class="form-control" placeholder="To find the original" />
                            </div>
                            <div class="form-group">
                                <label for="Action">Action Done:</label>
                                <input name="Action" id="MainAction" type="text" class="form-control" placeholder="What did you do?" />
                            </div>
                            <div class="form-group">
                                <label for="Date">Date Done:</label>
                                <input name="Date" id="MainDate" type="text" class="form-control" placeholder="When did you do that?" />
                            </div>
                            <div class="form-group">
                                <label for="RCost">Reality Cost:</label>
                                <input name="RCost" id="MainRCost" type="text" class="form-control" placeholder="How much did you pay for real?" />
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                    <a class="btn btn-danger" id="SaveAction">Save Changes</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    //$(document).ready(() => {
    //    GetPageData();
    //});

    //function GetPageData() {
    //    const url = `/Maintain/GetListMaintainance`;

    //    $.ajax({
    //        type: 'GET',
    //        url: url,
    //        success: (responseData) => {
    //            DataBinding(responseData);
    //        },
    //        error: (err) => {
    //            console.log(err);
    //        }
    //    });
    //}

    function DataBinding(DataList) {
        const SetMaintainData = $("#SetMaintainData");

        SetMaintainData.empty();
        for (let i = 0; i < DataList.length; i++) {
            const Data = `<tr class="row_${DataList[i].ID}">
                <td>${DataList[i].Code}</td>
                <td>${DataList[i].Action}</td>
                <td>${DataList[i].Date}</td>
                <td>${DataList[i].RCost}</td>
                <td>${DataList[i].PropRegi.Name}</td>
                <td><a class="btn btn-info" onclick="EditProperty(${DataList[i].ID})">Edit</a></td>
                </tr>`;
            SetMaintainData.append(Data);
        }
    }

    function AddNewAction() {
        $("#form")[0].reset();
        $("#ActionID").val(0);
        $("#AlterModal-Title").html("Add New Property");
        $("#AlterModal").modal("show");
    }

    $("#SaveAction").click(() => {
        const data = $("#SubmitForm").serialize();
        const url = "/Maintain/SaveAction";

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: (data) => {
                window.location.href = "/Property/Index";
                $("#AlterModal").modal("hide");
            },
            error: (err) => {
                console.log(err);
            }
        });
    });
</script>